<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6" style="top:10px; left:10px; height:10px;">
  <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <p>様々なバリエーションをご用意しております。</p>
  <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <P>ぜひご注文ください。</P>

   <%= image_tag "strawberry-2730572_640.jpg", size: "350x250" %>
</div>